<p>User: Anonymous<br>Anonymouse users can read public blogs, for more functions please register or sign in.<br></p>
<form action="Prihlaseni">
    <label for="email">Email:</label>
    <input type="email" name="email" id="email">
    <br>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password">
    <br>
    <button>Sign in</button>
</form>
<a href="/users/create">Register</a>
<hr>